* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
:root {
    --color-Red: hsl(14, 86%, 42%);
    --color-Green: hsl(159, 69%, 38%);
    --color-Rose50: hsl(20, 50%, 98%);
    --color-Rose100: hsl(13, 31%, 94%);
    --color-Rose300: hsl(14, 25%, 72%);
    --color-Rose400: hsl(7, 20%, 60%);
    --color-Rose500: hsl(12, 20%, 44%);
    --color-Rose900: hsl(14, 65%, 9%);
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    position: relative;
}
.container {
    border: 1px solid gray;
    background: var(--color-Rose50);
    max-width: 375px;
    padding: 20px;
    margin-bottom: 100px;
}
.container-base {
    margin-bottom: 20px;
}
.container h1 {
    text-transform: capitalize;
    font-family: "red hat text";
    margin-bottom: 20px;
}
.container-cards {
    border-radius: 8px;
    width: 335px;
    height: 230px;
    background-image: url("./assets/images/image-waffle-mobile.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin-bottom: 40px;
}
.container-cards2 {
    border-radius: 8px;
    width: 335px;
    height: 230px;
    background-image: url("./assets/images/image-creme-brulee-mobile.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin-bottom: 40px;
}
.container-cards3 {
    border-radius: 8px;
    width: 335px;
    height: 230px;
    background-image: url("./assets/images/image-macaron-mobile.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin-bottom: 40px;
}
.container-cards4 {
    border-radius: 8px;
    width: 335px;
    height: 230px;
    background-image: url("./assets/images/image-tiramisu-mobile.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin-bottom: 40px;
}
.container-cards5 {
    border-radius: 8px;
    width: 335px;
    height: 230px;
    background-image: url("./assets/images/image-baklava-mobile.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin-bottom: 40px;
}
.container-cards6 {
    border-radius: 8px;
    width: 335px;
    height: 230px;
    background-image: url("./assets/images/image-meringue-mobile.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin-bottom: 40px;
}
.container-cards7 {
    border-radius: 8px;
    width: 335px;
    height: 230px;
    background-image: url("./assets/images/image-cake-mobile.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin-bottom: 40px;
}
.container-cards8 {
    border-radius: 8px;
    width: 335px;
    height: 230px;
    background-image: url("./assets/images/image-brownie-mobile.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin-bottom: 40px;
}
.container-cards9 {
    border-radius: 8px;
    width: 335px;
    height: 230px;
    background-image: url("./assets/images/image-panna-cotta-mobile.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin-bottom: 40px;
}
.container-card {
   display: inline-block;
   cursor: pointer;
   align-items: center;
   border: 2px solid  var(--color-Rose300);
   align-self: center;
   align-content: center;
   background-color: aliceblue;
   border-radius: 50px;
   margin-top: 210px;
   margin-left: 110px;
   padding: 6px 10px;
}
.container-card img {
    width: 20px;
    margin-right: 1px;
 }
 .container-card p {
    display: inline-block;
    vertical-align: top;
 }
 .container-description p {
    color: var(--color-Rose400);
    font-family: "red hat text";
 }
 .container-description h2 {
    font-family: "red hat text";
    color: var(--color-Rose900);
    font-size: 20px;
 }
 .container-description span {
    font-family: "red hat text";
    color: var(--color-Red);
    font-size: 18px;
    font-weight: 600;
 }
 .container-base-mensagem {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    padding: 20px;
    background: #fff;
    width: 335px;
    height: 300px;
    border: 8px;
 }
 .container-base-mensagem h1 {
    display: flex;
    font-family: "red hat text";
    color: var(--color-Red);
    font-size: 20px;
 }
 .container-base-mensagem img {
    display: flex;
    margin: 10px auto;
    width: 40%;
 }
 .container-base-mensagem p {
    display: flex;
    justify-content: center;
    margin-left: 20px;
    color: var(--color-Rose400);
    font-family: "red hat text";
    font-weight: 600;
}
.modal {
    width: 100%;
    height: 100%;
    position: absolute;
    background: transparent;
}
 
